.userContainer {
    display: flex;
    justify-content: center;
    flex: 1; /* Allow Group component to expand */
    position: relative; /* Set position to allow top property */
    top: 2.5rem; /* Adjust position from top */
    width: 300px; /* Adjust width as needed */
    flex: 5.5;
     margin-right: 20px;
}

.userList {
    width: 100%;
}

.userRow {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    background-color: #fff; /* Default background color */
}

.userRow:hover {
    background-color: #107fac;
    color: white;
}

.userProfilePicture {
    width: 100px; /* Increase width */
    height: 100px; /* Increase height */
    border-radius: 50%; /* Ensure round shape */
    margin-right: 100px; /* Reduce right margin to move it more towards center */
    margin-left: 50px; /* Add left margin to balance */
}

.userDetails {
    flex: 1;
    text-align:left
}

.username {
    margin: 0;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.userId,
.userOccupation,
.userAge,
.userLivingPlace,
.userJoinedIn {
    margin: 5px 0;
    font-size: 14px;
    color: black;
}
