.post {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
    text-align: left;
  }
  
  .postWrapper {
    padding: 10px;
  }
  
  .postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .postTopLeft {
    display: flex;
    align-items: center;
  }
  
  .postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    color: var(--color-dark)
  }
  
  .postDate {
    font-size: 12px;
    color: var(--color-dark)
  }
  
  .postCenter {
    margin: 20px 0;
    color: var(--color-dark)
  }
  
  .postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
  }
  
  .postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark)
  }
  
  .likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .postLikeCounter {
    font-size: 15px;
  }
  
  .postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
  }

  .postTitle {
    font-size: 15px;
    
  }
  
  .postActions {
    display: flex;
    align-items: center;
  }
  
  .postAction {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
  }
  
  /* Add the following CSS at the end of your existing styles */

/* Add the following CSS at the end of your existing styles */

.postActionIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postActionIcon.liked {
  fill: red; /* Change the color to your liking */
}

  
  .postLikeCounter,
  .postCommentText {
    font-size: 15px;
    color: var(--color-dark);
  }
  
  .postCommentText {
    border-bottom: 1px dashed gray;
  }