.module-box {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .module-box h2 {
    margin-top: 0;
  }
  
  .module-box p {
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 25px; /* Same height as the button */
    background-color: #e9ecef;
    border-radius: 4px;
  }
  
  .progress {
    background-color: #28a745;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .start-button {
    padding: 8px 16px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .start-button:hover {
    background-color: #334290;
  }

  .cover-image-container {
    width: 100%;
    height: auto; /* Adjust the height as needed */
    overflow: hidden;
    padding-bottom: 20px; /* Ensure bottom padding */
  }
  
  .cover-image-container img {
    width: 100%;
    height: auto;
  }
  
  
  
  
  
  
  