/* Module1-KnowMore.css */
.module-detail-container {
    max-width: 800px;
    margin: 20px auto; /* Added margin to create space around the container */
}

.module-details {
    padding: 20px;
    background-color: #fff; /* Background color for module-details */
    border-radius: 8px; /* Rounded border */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px; /* Add margin between module-details and chapters */
}

.module-details h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px; /* Adjust margin */
    font-weight: bold; /* Bold the heading */
}

.module-details p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0; /* Remove default margin */
}

.chapters-objectives {
    display: flex; /* Display children (chapters and objectives) side by side */
}

.chapters {
    flex: 0.7; /* Make chapters take up 70% of the width */
    padding: 20px;
    background-color: #fff; /* Background color for chapters */
    border-radius: 8px; /* Rounded border */
    margin-right: 20px; /* Add margin to the right */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px; /* Add margin between chapters and objectives */
}

.chapters h2 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold; /* Bold the heading */
}

.chapters ol {
    margin-left: 20px;
    padding-left: 20px;
}

.chapters li {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.objectives {
    flex: 0.3; /* Make objectives take up 30% of the width */
    padding: 20px;
    background-color: #fff; /* Background color for objectives */
    border-radius: 8px; /* Rounded border */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px; /* Add margin between objectives and module-details */
}

.objectives h2 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold; /* Bold the heading */
}

.objectives ul {
    margin-left: 10px; /* Adjust margin */
}

.objectives li {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 8px;
}

.start-button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}

.tick-mark {
    color: green;
    font-weight: bold;
    margin-right: 5px; /* Adjust spacing between the tick mark and the chapter name */
}
